@import '~/node_modules/bootstrap/scss/bootstrap.scss';
#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}


/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

section {
    padding: 130px 0;
}


/* Mixin */

@mixin btn_primary {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
}

@mixin bg_text {
    border-radius: 4px;
    padding: 0 1rem;
}


/* Utilities */

.fs_14 {
    font-size: 14px;
}

.fs_15 {
    font-size: 15px;
}

.fs_20 {
    font-size: 20px;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_700 {
    font-weight: 700;
}

.fw_900 {
    font-weight: 900;
}

.unstyled {
    list-style: none;
}

.decor_none {
    text-decoration: none;
}

.logo_pill {
    font-weight: 700;
    color: $consulting-elf-green;
    background-color: $consulting-logo-bg;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 20px 0 0 20px;
}

.btn_get {
    @include btn_primary();
    background-color: $consulting-primary;
    color: $consulting-footer-titles-white !important;
    font-weight: 500;
}

.btn_outline {
    @include btn_primary();
    border: 1px solid $consulting-primary;
    color: $consulting-primary !important;
    font-weight: 500;
}

.h2_bg_company {
    border-radius: 4px;
    padding: 0 0.6rem;
    background-color: #16272d;
    margin-right: 0.5rem;
}

.h2_bg_services {
    @include bg_text();
    background-color: $consulting-btn-bg-light;
    color: $consulting-primary;
}