@import '~/node_modules/bootstrap/scss/bootstrap.scss';
#app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}


/* Common rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* Mixin */

@mixin btn_primary {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-transform: uppercase;
}


/* Utilities */

.fs_15 {
    font-size: 15px;
}

.fs_20 {
    font-size: 20px;
}

.fw_500 {
    font-weight: 500;
}

.fw_600 {
    font-weight: 600;
}

.fw_900 {
    font-weight: 900;
}

.unstyled {
    list-style: none;
}

.decor_none {
    text-decoration: none;
}

.logo_pill {
    font-weight: 700;
    color: #12bfc0;
    background-color: rgb(69 187 188 / 26%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    border-radius: 20px 0 0 20px;
}

.btn_get {
    @include btn_primary();
    background-color: $consulting-elm;
    color: $consulting-white !important;
}

.btn_outline {
    @include btn_primary();
    border: 1px solid $consulting-elm;
    color: $consulting-elm !important;
}