/* Color cube */

$consulting-woodsmoke: #121117;
$consulting-white: #ffffff;
$consulting-primary: #048383;
$consulting-dark-gray: #5c5e5e;
$consulting-gray: #aeb0b0;
$consulting-orange: #feb169;
$consulting-fountain-blue: #45bbbc;
$consulting-orange-piper: #c86f29;
$consulting-anakiwa: #96fefe;

/* Median cut */

$consulting-shark: #1c2224;
$consulting-black-haze-white: #e8ecea;
$consulting-sea-nymph: #729fa1;
$consulting-smalt-blue: #50828c;
$consulting-cape-palliser: #ac6b44;

/* Material design */

$consulting-elm: #22918e;
$consulting-cloudy: #a5a092;
$consulting-elf-green: #078282;
$consulting-limed-sprouce: #3d4955;
$consulting-serria: #dc945c;