/* Color variables */

$consulting-dark-blue: #21333e;
$consulting-primary: #048283;
$consulting-white-smoke: #C0C3D1;
$consulting-white: #ffffff;
$consulting-text-dark: #35464f;
$consulting-elf-green: #06a5a6;
$consulting-logo-bg: #c9dedf;
$consulting-black-bg: #111117;
$consulting-h2-bg: #16272d;
$consulting-gray: #6c757d;
$consulting-dark-gray:#5f6d75;
$consulting-footer-bg: #111118;
$consulting-footer-titles-white:#f9f9f9;
$consulting-footer-logo-bg: #152630;
$consulting-white-text: #c0c3d0;
$consulting-footer-text: #5F606B;
$consulting-input-bg: #d8dada;
$consulting-services-bg: #edf4ec;
$consulting-btn-bg-light: #b7d4ce;